<%- include('header'); -%>
<h1 id="headingMain">Master of Computer Application</h1>

<div class="flex-container">

   <% for(let i=0; i< subjectNames.length; i++) { %>
    <div class="course">
      <a href="/subject/<%= subjectTitle[i] %>"><img name="subname" class="course"src="<%= ImgUrl[i] %>" alt="">
      <p class="subjectname"><%= subjectNames[i] %></p>
      </a></div>
    <% } %>
  
</div>

<div class="container">
  <h3>Contact Us</h3>
  <form action="#">
    <label for="fname">Name</label>
    <input class="form-group" type="text" id="fname" name="firstname" placeholder="Your name.." autocomplete="off">

    <label for="lname">Number</label>
    <input class="form-group" type="text" id="lname" name="lastname" placeholder="Your mobile number.." autocomplete="off">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." rows="5" cols="5" autocomplete="off"></textarea>

    <input type="submit" value="Submit">
  </form>
  <img id="imgcontact" src="/Images/contact-icon.png" alt="contact us png">
</div>

<%- include('footer'); -%>