<%- include('header'); -%>
<div class="postTitle">
    <h2 style="text-align: center;"><%= title[5] %></h2>
</div>
<div class="flex-container">
   
    <% for(let i=0; i< blockName.length; i++) { %>
        <div class="course">
            <a href="/subject/<%= blockTitle[5] %>/<%= blockName[i] %>">
             <h2 style="text-decoration: none;"><%= blockName[i] %></h2>
            </a></div>
     <% } %>
   
 </div>

<%- include("footer"); -%>